body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.Hero {
    background-image:url("New charchter.png");
    background-size: 40px 40px;
}

.Wall {
    
    background-color: black !important;
}
 .

.goal {
    background-image:url("goal.png");
    background-size: 40px 40px;
}


.Empty {
    background-image:none;
}



