body {
    background-color:rgb(20, 3, 3);
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid rgba(189, 0, 0, 0.935);
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:rgb(0, 110, 24);
}

.player1 {
    background-image:url("baby%20zombie.jpg");
    background-size: 40px 40px;
}
.playerright {
    background-image: ;

}
.brain {
    background-image:url(brain.jpg);
    background-size: 40px 40px;
}
.wall {
    background-color:rgb(103, 0, 0) !important;
}
.fakewall {
    background-color: rgb(109, 0, 0) !important;
}