body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:50px;
    height:50px;
    border:1px solid;
    background-color:white;
}

.car {
    background-image:url("hero.gif");
    background-size: 50px 50px;
}

.wall {
    background-image:url("black.jpg");
    background-size: 50px 50px;
}

.r {
    background-image:url("r.jpg");
    background-size: 50px 50px;
}

.dg {
    background-image:url("dg.jpg");
    background-size: 50px 50px;
}

.m {
    background-image:url("m.jpg");
    background-size: 50px 50px;
}

.c {
    background-image:url("c.jpg");
    background-size: 50px 50px;
}

.o {
    background-image:url("o.jpg");
    background-size: 50px 50px;
}

.b {
    background-image:url("b.jpg");
    background-size: 50px 50px;
}

.g {
    background-image:url("g.jpg");
    background-size: 50px 50px;
}

.y {
    background-image:url("y.jpg");
    background-size: 50px 50px;
}

.p {
    background-image:url("p.jpg");
    background-size: 50px 50px;
}

.rmonster {
    background-image:url("rmonster.png");
    background-size: 50px 50px;
}

.dgmonster {
    background-image:url("dgmonster.jpg");
    background-size: 50px 50px;
}

.mmonster {
    background-image:url("mmonster.jpg");
    background-size: 50px 50px;
}

.cmonster {
    background-image:url("cmonster.jpg");
    background-size: 50px 50px;
}

.omonster {
    background-image:url("omonster.jpg");
    background-size: 50px 50px;
}

.bmonster {
    background-image:url("bmonster.jpg");
    background-size: 50px 50px;
}

.gmonster {
    background-image:url("gmonster.jpg");
    background-size: 50px 50px;
}

.ymonster {
    background-image:url("ymonster.jpg");
    background-size: 50px 50px;
}

.pmonster {
    background-image:url("pmonster.jpg");
    background-size: 50px 50px;
}

.carandrmonster {
    background-image:url("hero.gif");
    background-size: 50px 50px;
}

.carandymonster {
    background-image:url("hero.gif");
    background-size: 50px 50px;
}

.carandgmonster {
    background-image:url("hero.gif");
    background-size: 50px 50px;
}

.carandcmonster {
    background-image:url("hero.gif");
    background-size: 50px 50px;
}

.carandbmonster {
    background-image:url("hero.gif");
    background-size: 50px 50px;
}

.carandmmonster {
    background-image:url("hero.gif");
    background-size: 50px 50px;
}

.carandomonster {
    background-image:url("hero.gif");
    background-size: 50px 50px;
}

.caranddgmonster {
    background-image:url("hero.gif");
    background-size: 50px 50px;
}

.carandpmonster {
    background-image:url("hero.gif");
    background-size: 50px 50px;
}

.coin1 {
    background-image:url("coin.jpg");
    background-size: 50px 50px;
}

.coin2 {
    background-image:url("coin.jpg");
    background-size: 50px 50px;
}

.coin3 {
    background-image:url("coin.jpg");
    background-size: 50px 50px;
}

.flag {
    background-image:url("flag.jpg");
    background-size: 50px 50px;
}

.carandflag {
    background-image:url("carandflag.jpg");
    background-size: 50px 50px;
}

.player2 {
    background-image:url("player2.jpg");
    background-size: 50px 50px;
}

.player2andrmonster {
    background-image:url("player2.jpg");
    background-size: 50px 50px;
}

.player2andymonster {
    background-image:url("player2.jpg");
    background-size: 50px 50px;
}

.player2andgmonster {
    background-image:url("player2.jpg");
    background-size: 50px 50px;
}

.player2andcmonster {
    background-image:url("player2.jpg");
    background-size: 50px 50px;
}

.player2andbmonster {
    background-image:url("player2.jpg");
    background-size: 50px 50px;
}

.player2andmmonster {
    background-image:url("player2.jpg");
    background-size: 50px 50px;
}

.player2andomonster {
    background-image:url("player2.jpg");
    background-size: 50px 50px;
}

.player2anddgmonster {
    background-image:url("player2.jpg");
    background-size: 50px 50px;
}

.player2andpmonster {
    background-image:url("player2.jpg");
    background-size: 50px 50px;
}

.player2andr {
    background-image:url("player2andr.jpg");
    background-size: 50px 50px;
}

.player2andy {
    background-image:url("player2andy.jpg");
    background-size: 50px 50px;
}

.player2andg {
    background-image:url("player2andg.jpg");
    background-size: 50px 50px;
}

.player2andc {
    background-image:url("player2andc.jpg");
    background-size: 50px 50px;
}

.player2andb {
    background-image:url("player2andb.jpg");
    background-size: 50px 50px;
}

.player2andm {
    background-image:url("player2andm.jpg");
    background-size: 50px 50px;
}

.player2ando {
    background-image:url("player2ando.jpg");
    background-size: 50px 50px;
}

.player2anddg {
    background-image:url("player2anddg.jpg");
    background-size: 50px 50px;
}

.player2andp {
    background-image:url("player2andp.jpg");
    background-size: 50px 50px;
}

.player2andcoin1 {
    background-image:url("player2.jpg");
    background-size: 50px 50px;
}

.player2andcoin2 {
    background-image:url("player2.jpg");
    background-size: 50px 50px;
}

.player2andcoin3 {
    background-image:url("player2.jpg");
    background-size: 50px 50px;
}

.player2andflag {
    background-image:url("player2andflag.jpg");
    background-size: 50px 50px;
}


#ImmunityTable {
    border-collapse:collapse;
    border:5px solid black;
}

#ImmunityTable td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.redcolor {
    background-image:url("r.jpg");
    background-size: 40px 40px;
}

.yellowcolor {
    background-image:url("y.jpg");
    background-size: 40px 40px;
}

.greencolor {
    background-image:url("g.jpg");
    background-size: 40px 40px;
}

.cyancolor {
    background-image:url("c.jpg");
    background-size: 40px 40px;
}

.bluecolor {
    background-image:url("b.jpg");
    background-size: 40px 40px;
}

.magentacolor {
    background-image:url("m.jpg");
    background-size: 40px 40px;
}

.orangecolor {
    background-image:url("o.jpg");
    background-size: 40px 40px;
}

.darkgreencolor {
    background-image:url("dg.jpg");
    background-size: 40px 40px;
}

.purplecolor {
    background-image:url("p.jpg");
    background-size: 40px 40px;
}