body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.star {
    background-image:url("star_icon.webp");
    background-size: 40px 40px;
}

.StarFlip {
    background-image:url("flipped_star.jpg");
    background-size: 40px 40px;
}
.wall {
    background-color:black !important;
}
.flag {
    background-image:url("flag.png");
    background-size: 40px 40px;
}
.wallFake {
    background-color:#333333 !important;

}
.coin {
    background-image:url("coin.jpg");
    background-size: 40px 40px;
}
audio {
    visibility: hidden;
}