body {
    background-color:blueviolet;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.Car {
    background-image:url("image-placeholder-title.jpg");
    background-size: 40px 40px;
}

.CarFlip {
    background-image:url("usain backwards.png");
    background-size: 40px 40px;
}

.wall {
    background-color: black !important;
}

.fakewall {
    background-color: #333333 !important;
}

.flag {
    background-image:url("finish flag.jpg");
    background-size: 40px 40px;
}
    
    
.Empty {
    background-image:none;
}
