body {
    background-color:grey;
}



#RacingTrack td {
    width:30px;
    height:30px;
    border:0.5px solid;
    background-color:white;
}

.car {
    background-image:url("black\ square.jpg");
    background-size: 30px 30px;
}
#RacingTrack {
    border-collapse:collapse;
    border:3px solid black;
}

#RacingTrack td {
    width:30px;
    height:30px;
    border:0.5px solid;
    background-color:white;
}
.bullet {
    background-image:url("smallsquare.jpg");
    background-size: 30px 30px;
}
.entity {
 background-image: url(car.jpg);
 background-size: 30px 30px;

}