body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.Car {
    background-image:url("sully.jpg");
    background-size: 40px 40px;
}

.flag {
    background-image:url("racing flag.png");
    background-size: 40px 40px;
}

.wall{
    background-color:black !important;
}

.Empty {
    background-image:none;
}
