body {
    background-color:rgb(255, 240, 250);
}

#RacingTrack {
    border-collapse:collapse;
    border:8px solid rgb(240, 196, 240);
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:rgb(248, 235, 247);
}

.player1 {
    background-image:url("gnome.png");
    background-size: 40px 40px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
}

.wall {
    background-image: url("file.png") !important;
    background-size: 40px 40px;
}

.flag{
    background-image: url("pie.png");
    background-size: 40px 40px;
}

.sprite {
    position: relative;
    width: 40px;
    height: 40px;
    top: 46px; /* initial top */
    left: 6px; /* initial left */
}