body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.Car {
    background-image:url("sprite student.webp");
    background-size: 40px 40px;
}

.grades {
    background-image:url("sprite\ netflix.jpg");
    background-size: 40px 40px 
}

.wall {
    background-image:url("a\ plusss.jpg");
    background-size: 40px 40px
}