body {
    background-color:rgba(1, 128, 96, 0.723);
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    background-color:rgb(94, 193, 198);
}

.player1 {
    background-image:url("blue_FLAPPYBIRD.jpg");
    background-size: 40px 40px;
    background-position: center;
    background-repeat: no-repeat;
}

.wall{
    background-image:url("pipe.jpg");
    background-size: 42px 42px;
    background-position: center;
    background-repeat: no-repeat;
}