body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.Car {
    background-image:url("spaceship.png");
    background-size: 40px 40px;
}

.wall {
    background-color:black !important;
}
.flag {
    background-image:url("checkerflag.png");
    background-size: 40px 40px;
}

.wf {
    background-color:#222222 !important;
}

.hehe {
    background-color:#EEEEEE !important
}