body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.Car {
    background-image:url("BikeRight.jpg");
    background-size: 40px 40px;
}

.CarFlip {
    background-image:url("BikeLeft.jpg");
    background-size: 40px 40px;
}

.wall{
    background-color: black !important ;
}

.flag{
    background-image:url("finish line.png");
    background-size: 40px 40px;
}

.Empty {
    background-image:none;
}
