body {
    background-color:rgb(18, 222, 45);
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid rgb(221, 17, 194);
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.car {
    background-image:url("Picture1.jpg");
    background-size: 40px 40px;
}
.wall {
    background-color: rgb(13, 255, 0) !important;
}
.flag{
    background-image:url("Lorax\ tree.png");
    background-size: 40px 40px;
}
.wallFake{
    background-color: rgb(13, 255, 0) !important
}
.coin{
    background-image:url("coin.png");
    background-size: 40px 40px;
}