body {
    background-color:rgb(208, 240, 255);
}

#RacingTrack {
    border: 0; 
    border-color: transparent;
    border-style: solid;
    border-width: 115px;
    -moz-border-image: url(bush.png) 115 repeat;
    -webkit-border-image: url(bush.png) 115 repeat;
    -o-border-image: url(bush.png) 115 repeat;
    border-image: url(bush.png) 115 fill repeat;
}

#RacingTrack td {
    width:80px;
    height:80px;
    border:0px solid;
    background-color:rgba(134, 219, 112, 0.712);
}

.player1 {
    background-image:url("player1.png");
    background-size: 80px 80px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
}



