body {
    background-color:rgb(173, 232, 255);
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:80px;
    height:80px;
    border:1px solid;
    background-color:white;
}

.Car {
    background-image:url("car.jpg");
    background-size: 80px 80px;
}

.wall {
    background-color: rgb(127, 250, 164) !important;
}

.flag {
    background-image:url(flag.jpg);
    background-size: 80px 80px;
}

.WIN{
    background-image:url(WIN.jpg);
    background-size: 80px 80px;
}