body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.player1 {
    background-image:url("Shrek_\(character\).png");
    background-size: 40px 40px;
}

.backwards {
    background-image:url("Shrekbutbackwardslol.png");
    background-size: 40px 40px;
}

.fake {
    background-color: black !important;
}

.wall {
    background-color: black !important;
}

.c {
    background-image:url("maito.png") ;
    background-size: 40px 40px;
}

.flag {
    background-image:url("flag.png");
    background-size: 40px 40px;
}