body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.car {
    background-image:url("TARDIS.png");
    background-size: 40px 40px;
}
.wall {
    background-image:url("DALEK.png") !important;
    background-size: 40px 40px;
}
.flag{
    background-image:url("EARTH.jpg");
    background-size: 40px 40px;
}