body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.car {
    background-image:url("pink sweet2.png");
    background-size: 40px 40px;
}

.wall { 
    background-color: black !important;
}

.flag {
    background-image:url(flag_icon.jpg);
    background-size: 40px 40px;
}

.wallFake{
    background-color: #4f4f4f !important;
}