body {
    background-color:#9c9999;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid rgb(255, 255, 255);
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:rgb(176, 176, 176);
}

.player1 {
    background-image:url("Picture5.jpg");
    background-size: 40px 40px;
}

.flag {
    background-image:url("Jam1.jpg");
    background-size : 40px 40px;
}

.wall {
    background-color: rgb(31, 31, 43) !important;
}

.fakeWall {
    background-color: rgb(69, 68, 68) !important;
}
.coin {
    background-image:url("Picture6.jpg");
    background-size : 40px 40px;
    
}