body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.Car {
    background-image:url("car.jpg");
    background-size: 40px 40px;
}

.CarR {
    background-image:url("carR.jpg");
    background-size: 40px 40px;
}

.Empty {
    background-image:none;
}

.wall {
    background-color:black !important;
    
}



.flag {
    background-image:url("flag.jpg");
    background-size: 40px 40px;
}