body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.Car {
    background-image:url("boat.jpg");
    background-size: 40px 40px;
}

.Carflip {
    background-image:url("ship.jpg");
    background-size: 40px 40px;

.wall {
    background-color: black !important;
    
}
    
.wallFake {
    background-color: #333333 !important;

}
    
.Empty {
    background-image:none;
}

.flag {
    background-image:url("checkered flag.jpg");
    background-size: 40px 40px;
}