body {
    background-color: rgb(220,251,220) ;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

.Wall {
    background-color: #654321 !important;
}

.WallFake {
    background-color: rgb(50,110,50) !important;
}
#RacingTrack td {
    width:100px;
    height:100px;
    border:1px solid;
    background-color: rgb(100,235,100);
}

.Car {
    background-image:url("avocado.png");
    background-size: 100px 100px;
}

.Empty {
    background-image:none;
}

.Flag {
    background-image:url("avoooo.webp");
    background-size: 100px 100px;
}