body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.Car {
    background-image:url("shrek.gif");
    background-size: 40px 40px;
}

.Empty {
    background-image:none;
}

.wall{
    background-image:url(WALL.gif);
    background-size: 40px 40px;
}

.flag{
    background-image:url(flag);
    background-size: 40px 40px;
}

.fakeWall{
    background-image:url("fake_wall");
    background-size: 40px 40px;
}