body {
    background-color:rgb(203, 80, 80);
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid rgb(70, 29, 29);
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:rgb(255, 205, 205);
}

.car {
    background-image:url("ghost.jpg");
    background-size: 50px 50px;
}

.wall {
    background-color: rgb(174, 134, 134) !important;
}

.flag {
    background-image:url("flag.jpg");
    background-size: 42.5px 53px;
}

.coin {
    background-image:url("coin.jpg");
    background-size: 42.5px 53px;
}