body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.Car {
    background-image:url("mario jpeg.png");
    background-size: 40px 40px;
}

.CarFlip {
    background-image:url("mario jpeg rotated.jpg");
    background-size: 40px 40px;
}


.wall {
    background-color: #A52A2A !important;   
}

.wallFake {
    background-color: #E0FFFF !important;   
}

.Empty {
    background-image:none;
}

.flag {
    background-image:url("flag.png");
    background-size: 40px 40px;
}
