body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.player1 {
    background-image:url("p.peach.gif");
    background-size: 40px 40px;
}

.wall {
    background-color:rgb(208, 116, 131) !important;
    background-size: 40px 40px;
}

.flag {
    background-image: url("mario_star.gif");
    background-size: 40px 40px;
}

.coin {
    background-image: url("coin.gif");
    background-size: 40px 40px;
}

.wallFake {
    background-color:pink; 
    background-size: 40px 40px;
}