body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.player1 {
    background-image:url("RainbowCar.jpg");
    background-size: 40px 40px;
}
.wall{
    background-color: black !important;
}
.flag{
    background-image:url("flag.jpg");
    background-size: 40px 40px;
}
.player1-left {
    background-image: url("RainbowCarFlipped.jpg");
    background-size: 40px 40px;
}
.coin {
    background-image: url("coin.jpg");
    background-size: 40px 40px;
}
audio {
    visibility: hidden;
}
.bi {
    background-image:url("Race\ track.jpg");
}
body {
    background-image: url("https://tse3.mm.bing.net/th/id/OIP.klUMAm4pH3Ono_ooVQnUJQHaFj?rs=1&pid=ImgDetMain");
}





