body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.player1 {
    background-image:url("player.jpg");
    background-size: 40px 40px;
    background-position: center;
    background-repeat: no-repeat;
}
.player1-left {
    background-image:url("player-left.jpg");
    background-size: 40px 40px;
    background-position: center;
    background-repeat: no-repeat;
}

.wall {
    background-color: black !important;
}

.coin {
    background-image:url("coin.jpg");
    background-size: 40px 40px;
}

.portal1 {
    background-image:url("portal.jpg");
    background-size: 40px 40px;
}

.flag {
    background-image:url("Flag.jpg");
    background-size: 40px 40px;
}