body {
    background-image:url("skyy.jpg")
}

#RacingTrack {
    background-image:url("pigcollage.jpg");
}

#RacingTrack td {
    width:50px;
    height:50px;
    border:1px solid;
    background-color:rgb(77, 77, 77);
}

.player1 {
    background-image:url("what.jpg");
    background-size: 50px 70px;
}

.wall {
    background-image:url("grass.jpg");
    background-size : 70px 70px;
}

.coin {
    background-image:url("OIP.jpg");
    background-size : 70px 70px;
}

.coin2 {
    background-image:url("coin2.jpg");
    background-size : 70px 70px;
}

.flag {
    background-image:url("Picture1.jpg");
    background-size : 70px 70px;
}