body {
    background-color:blue;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:60px;
    height:60px;
    
    background-color: #111;
}

.Car {
    background-image:url("char.gif");
    background-size: 60px 60px;
}
.Car2 {
    background-image:url("char.gif");
    background-size: 60px 60px;
    transform: scaleX(-1);
}
.Coin {
    background-image:url("Coin.gif");
    background-size: 60px 60px;
}

.Wall {
    background-image: url(wally.gif);
    background-size: 60px 60px;
}
.Wally {
    background-image: url(wally2.gif);
    background-size: 62px 60px;
}
.Wally2 {
    background-image: url(wally2.gif);
    background-size: 62px 60px;
    transform: scaleX(-1);
}
.Wall2 {
    background-color: green !important;
    ;
}
.flag{
    background-image: url("Castle.gif");
    background-size: 63px 63px;
}

.Enem {
    background-image:url("Enem.gif");
    background-size: 60px 60px;
}
.cloud {
    background-image: url("cloud.png");
    background-size: 60px 60px;
}
.notWall{
    background-image: url(wally.gif);
    background-size: 60px 60px;
}
#Four {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#box {
    background-color: darkblue;
    width: 695px;
}
#Score {
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
#but {
    background-size: 40px 40px;
    background-color: blue;
    color: white;
    font-family:Arial, Helvetica, sans-serif; 
    font-size : 20px;
}
a:hover {
    background-color: #2bec;
}

#Message {
    color: white;
    font-family:Arial, Helvetica, sans-serif; 
    font-size: 20px;

}
#level {
    color:white;
}
.pac {
    background-image: url(Pac-man.gif);
    background-size:60px 60px;
}
.pac2 {
    background-image: url(Pac-man.gif);
    background-size: 60px 60px;
    transform: scaleX(-1);
}
.ghost {
    background-size: 60px 60px;
    background-image: url(ghost.gif);
}
.ghost2{
    background-size: 60px 60px;
    background-image: url(ghost2.gif);
}
