body {
    background-color: grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    
    background-color: white;
    border: black solid;
}

.Car {
    background-image:url("Boris.gif");
    background-size: 40px 40px;
}
.Car2 {
    background-image:url("Boris.gif");
    background-size: 40px 40px;
    transform: scaleX(-1);
}
.Coin {
    background-image:url("coino.gif");
    background-size: 60px 60px;
}

.Wall {
    background-color: black ! important;
    background-size: 40px 40px;
}
.Wall2 {
    background-color: darkgrey !important;
    ;
}
.flag{
    background-image: url("coino.gif");
    background-size: 60px 60px;
}

.Enem {
    background-image:url("Enem.gif");
    background-size: 40px 40px;
}
.cloud {
    background-image: url("cloud.png");
    background-size: 40px 40px;
}
.notWall{
    background-color: darkgrey !important;
    background-size: 40px 40px;
}
#Four {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#Five {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#box {
    background-color: #555555;
    width: 670px;
}
#Score {
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
#but {
    background-size: 40px 40px;
    background-color: #555555;
    color: white;
    font-family:Arial, Helvetica, sans-serif; 
    font-size : 20px;
}
a:hover {
    background-color: #2bec;
}

#Message {
    color: white;
    font-family:Arial, Helvetica, sans-serif; 
    font-size: 20px;

}
#level {
    color:white;
}
.pac {
    background-image: url(Pac-man.gif);
    background-size:40px 40px;
}
.pac2 {
    background-image: url(Pac-man.gif);
    background-size: 40px 40px;
    transform: scaleX(-1);
}
