body {
    background-color:rgb(238, 88, 1);
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid rgb(238, 88, 1);
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:rgb(247, 144, 27);
}

.player1 {
    background-image:url(https://tse4.mm.bing.net/th/id/OIP.f2nfMAU08breJ9pu1XS-cgHaHa?w=172&h=180&c=7&r=0&o=5&dpr=1.8&pid=1.7);
    background-size: 40px 40px;
}

.wall {
    background-image:url(Cactus.png);
    background-size: 40px 40px;
}


.flag {
    background-image:url(https://tse4.mm.bing.net/th/id/OIP.BEBUILdtm13FjeesdZg3jwHaHZ?w=152&h=180&c=7&r=0&o=5&dpr=1.8&pid=1.7);
    background-size: 40px 40px;
}