body {
    background-image:url("YeezyRace.jpg");
    background-size: 100%;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.car {
    background-image:url("Kanye.jpg");
    background-size: 40px 40px;
}

.wall {
    background-image:url("adidas.jpg");
    background-size: 40px 40px;
}

.flag {
    background-image:url("yeezy.jpg");
    background-size: 40px 40px;
}

audio {
    visibility: hiddena;
}