body {
    background-color:rgb(43, 186, 252);
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid rgb(247, 5, 171);
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:gold;
    border-color:rgb(247, 5, 171);
}

.player1 {
    background-image:url("Picture2.png");
    background-size: 40px 40px;
}

.wall{
    background-color:purple !important;
}

.flag{
    background-image:url("flag3.png");
    background-size: 40px 40px;
}

.player1-left{
    background-image:url("Picture2.2.png");
    background-size: 40px 40px;
}

.wallFake{
    background-color:rgb(173, 0, 173) !important;
}

.treat{
    background-image:url("treat.jpg");
    background-size: 40px 40px;
}

.scratch{
    background-image:url("scratch3.png");
    background-size: 40px 40px;
}

.goodcat{
    background-image:url("angelcatgold2.png");
    background-size: 40px 40px;
}
