body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.player1 {
    background-image:url("Picture1.png");
    background-size: 40px 40px;
}
.wall{
    background-color: darkgreen !important;
}
.flag {
    background-image:url("Mice_flag.jpg");
    background-size: 40px 40px;
}
.wallFake {
    background-color: green !important;
}
.egg {
    background-image: url("Golden\ Egg.jpg");
    background-size: 40px 40px;
}