body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.car {
    background-image:url("antony.jpeg");
    background-size: 40px 40px;
}

.wall {
    background-image:url("goal.png") !important;
    background-size: 40px 40px;
}

.end {
    background-image:url("spinner.jpg");
    background-size: 40px 40px;
}


.coin {
    background-image:url("coin.jpg") !important;
    background-size: 40px 40px;
}

.ghost {
    background-image:url("ten\ hag.jpg");
    background-size: 40px 40px;
}

.spin { 
    background-image:url("spinning\ antony.gif");
    background-size: 40px 40px;
}