body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.Car {
    background-image:url("Olaf.png");
    background-size: 40px 40px;
}

.CarFlip {
    background-image:url("Olaf2.png");
    background-size: 40px 40px;
}

.wall{
    background-color: blue !important;
    
}
.wallFake{
    background-color: lightblue !important;
    
}
.Empty {
    background-image:none;
}
.flag {
    background-image:url("icecream.png");
    background-size: 40px 40px;
}