body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.rabbit {

    background-image:url("rabbit.jpg");
    background-size: 40px 40px;
}

.rabbitFlip {

    background-image:url("rabbit2.jpg");
    background-size: 40px 40px;
}


.Empty {
    background-image:none;
}



.wall {
    
    background-color: #942424 !important;
}

.wallFake {
    
    background-color: #902323 !important;
}

.flag {

    background-image:url("flag.png");
    background-size: 40px 40px;
}





