body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.Car {
    background-image:url("car.jpg");
    background-size: 40px 40px;
}
.Tree {
    background-image:url("car.jpg");
    background-size: 40px 40px;
}