body {
    background-color:white;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.Car {
    background-image:url("kobe_bryantOIP.jpg");
    background-size: 40px 40px;
}

.CarFlip {
    background-image:url("kobe_bryant1OIP.jpg");
    background-size: 40px 40px;
}

.Empty {
    background-image:none;
}

.net {
    background-image:url("basketnetRf9accd12e737458a15a7f06d09350cc5.png");
    background-size: 40px 40px;
}
.wall {
    background-image: url("basketdefender.sized-1000x1000.jpg");
    background-size: 40px 40px
}

.wallFake {
    background-image: url("basketdefender.sized-1000x1000.jpg");
    background-size: 40px 40px
}