body {
    background-color:#fffca1;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:#ffcb7d;
}

.Car {
    background-image:url("Car.png");
    background-size: 40px 40px;
}

.Empty {
    background-image:none;
}


.wall {
    background-color: #000000 !important;
}

.flag {
    background-image:url("flag.png");
    background-size: 40px 40px;
}