body {
  background-color: grey;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#RacingTrack {
  border-collapse: collapse;
  border: 5px solid black;
}

#RacingTrack td {
  width: 55px;
  height: 55px;
  table-layout: fixed;
  border: 1px solid;
  background-color: white;
  margin: auto;
}

.car {
  background-image: url("https://i.kym-cdn.com/photos/images/newsfeed/002/440/418/06a");
  background-size: 40px 40px;
}

.wall {
  background-color: black !important;
}

.flag {
  background-size: 40px 40px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7i-ppgZmiC8i3nU8xsGrVd-P8BL3Sl9DaKdVPriLvQWE8ya3nvOjAcqmjo81pdHmrdok:https://upload.wikimedia.org/wikipedia/commons/b/bc/Flag_of_Finland.svg&usqp=CAU");
}
.carFlip {
  background-image: url("https://i.kym-cdn.com/photos/images/newsfeed/002/440/418/06a");
  background-size: 40px 40px;
  transform: scaleX(-1);
}

.wallFake {
  background-color: #333333 !important;
}

.coin {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcWB1xCdzjDxgeeoYBzrSc4h_zr0r9biLevAgeU64Ka0g5fpGYv_whmt5BSNTd7coV5vI:https://mystickermania.com/cdn/stickers/fortnite/sticker_2102-512x512.png&usqp=CAU");
  background-size: 55px 55px;
}

audio {
  visibility: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
