body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.player1 {
    background-image:url("car.webp");
    background-size: 40px 40px;
}

.Winning {
    background-image:url("Winning.jpg");
    background-size: 40px 40px;
}

.wall {
     background-color: black  !important;
}

.home {
     background-image:url("Hole.jpg")   !important;
     background-size: 40px 40px;
}