body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:rgb(255, 255, 255);
}

.ufo {
    background-image:url("pierre.png");
    background-size: 40px 40px;
}

.wall{
    background-color:rgb(102, 166, 218) !important ;
}

.flag {
    background-image:url("tractor.jpg");
    background-size: 40px 40px;
}

.secondflag {
    background-image:url("redbull.jpg");
    background-size: 40px 40px;
}