body {
    background-color:white;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid purple;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:black;
}

.pacman {
    background-image:url("pacman.gif");
    background-size: 40px 40px;
    
   
}

.pacmanflip {
    background-image:url("pacman2.gif");
    background-size: 40px 40px;
   
}

.wall {
    background-color: black !important;
     border:3px solid purple !important;
    
    
    
}



.Empty {
    background-image:none;
}


.portal {
    background-image:url("flag.png");
    background-size: 40px 40px;
   
}