body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid rgb(0, 0, 0);
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:green;
}

.car {
    background-image:url("car.jpg");
    background-size: 40px 40px;
}

.wall {
    background-color:black !important;
}

.flag {
    background-image:url("trophy.jpg");
    background-size: 40px 40px;
}

.fball {
    background-image:url("ball.jpg");
    background-size: 40px 40px; 
}

.sball {
    background-image:url("ball.jpg");
    background-size: 40px 40px; 
}

.fwall {
    background-image:url("klopp.jpg");
    background-size: 40px 40px; 
}

.swall {
    background-image:url("klopp.jpg");
    background-size: 40px 40px; 
}

.twall {
    background-image:url("klopp.jpg");
    background-size: 40px 40px; 
}

