body {
    background-image: url("stars pt 2.jpg");
   color:#ffff66; 
  
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.Koro {
    background-image:url("New Piskel-1.png.png");
    background-size: 40px 40px;
}

.dagger {
    background-image:url("dagger.jpg");
    background-size: 40px 40px;
}

.Empty {
    background-image:none;
}
.flag {
    background-image:url("planet.jpg");
    background-size: 40px 40px;