body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}
#Message{
    font-size: 50px;
}

.player1 {
    background-image:url("Picture1.jpg");
    background-size: 40px 40px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
}
.wall{
     background-color: black!important;
}
.Fog{
     background-color: gray!important;
}
.FogWall{
     background-color: gray!important;
}
.FogFly{
     background-color: gray!important;
}
.fly{
    background-image: url("Fly.png");
    background-size: 40px 40px
}
.flag{
    background-image: url("flag\ new.png");
    background-size: 40px 40px
}