body {
    background-image:url("Background.jpg");
    background-size: 1375px;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:5px solid;
    background-color:white;
}

.Car {
    background-image:url("car.jpg");
    background-size: 40px 40px;
}
.Gomba {
    background-image:url("Gomba.jpg");
    background-size: 40px 40px;
}
.Koopa {
    background-image:url("Koopa.jpg");
    background-size: 40px 40px;
}
.FlagPole {
    background-image:url("FlagPole.jpg");
    Background-size: 40px 40px;
}