body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:rgb(230, 229, 225);
}

.slugcat {
    background-image:url("slugcat.png") !important;
    background-size: 40px 40px;
}

.slugcat-right {
    background-image:url("slugcatflipped.png") !important;
    background-size: 40px 40px;
}

.pole {
    background-color:rgb(132, 90, 16) !important;
}

.wall {
    background-color:rgb(126, 126, 125) !important;
}

.flag {
    background-image:url("Shelter.png");
    background-size: 40px 40px;
}

.food {
    background-image:url("bluefruit.jpg");
    background-size: 40px 40px;
}

.lizard {
    background-image:url("Lizard.jpg");
    background-size: 40px 40px;
}

.PassageDark1{
    background-color: rgb(98, 97, 97) !important;
}

.PassageDark2{
    background-color: rgb(98, 97, 97) !important;
}