body {
    background-color:peachpuff;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.car {
    background-image:url("steve.jpeg");
    background-size: 40px 40px;
}

.wall {
    background-color:black !important;
    background-size: 40px 40px;
}

.flag {
    background-image:url("download.webp");
    background-size: 40px 40px;
}

.wallFake {
    background-color:#151515 !important;
}

audio {
    visibility: hidden;
}