body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.Car {
    background-image:url("shrek.jpg");
    background-size: 40px 40px;
}

.Empty {
    background-image:none;
}

.Wall {
    background-color:black !important;
}

.Flag {
    background-image:url("flag.jpg");
}