body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.Car {
    background-image:url("Picture1\ of\ scrat.jpg");
    background-size: 40px 40px;
}

.wall   {
    background-color: black !important;
}

.flag {
    background-image:url(victory\ flag.jpg);
    background-size:40px 40px;
}