body {
    background-color:rgb(0, 115, 225);
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid rgb(0, 115, 255);
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:rgb(255, 255, 255);
}

.Car {
    background-image:url("rl cropped.png");
    background-size: 40px 40px;
}

.CarFlip {
    background-image:url("rl cropped flip.png");
    background-size: 40px 40px;
}

.wall {
    background-color: rgb(0, 4, 109) !important;
}

.flag {
    background-image: url("Screenshot 2022-06-20 125918.png");
    background-size: 40px 40px;
}

.wallFake {
    background-color: rgb(0, 3, 100) !important;
}