body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.car {
    background-image:url("nugget1.png");
    background-size: 40px 40px;
}
.wall {
    background-image:url("nicoavocado.png");
    background-size: 40px 40px;
}
.jace {
    background-image:url("jace.png");
    background-size: 40px 40px;
}
.nettspend {
    background-image:url("Nettspend.png");
    background-size: 40px 40px;
}
.osamason {
    background-image:url("osamason.png");
    background-size: 40px 40px;
}
.yeat {
    background-image:url("yeat.png");
    background-size: 40px 40px;
}
.kankan {
    background-image:url("kankan.png");
    background-size: 40px 40px;
}
.duwap{
    background-image:url("duwapkaine.png");
    background-size: 40px 40px;
}
.helpme{
    background-image:url("pleasehelp.png");
    background-size: 2000px 2000px;
}
