body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color: lightgreen;
}

.player1 {
    background-color: rgba(0, 0, 255, 0.877) !important;
    background-size: 40px 40px;
}

.player1-body {
    background-color:blue;
    background-size: 40px 40px;
}

.wall {
    background-color: black !important;
}

.food {
    background-image:url("image.png") !important;
    background-size: 40px 40px;
}

.sprite {
	position: relative;
	width: 40px;
	height: 40px;
	top: 46px;
	Left: 6px;
}