body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.Barb {
    background-image:url("barb.jpg");
    background-size: 40px 40px;
}

.Empty {
    background-image:url("grass.png")
}

.townH {
    background-image:url("th.jpg");!important
}
