body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.player1 {
    background-image:url("Donkey.jpg");
    background-size: 40px 40px;
}

.wall {
    background-color: black !important;
}

.wallFake {
    background-color: rgb(27, 27, 27);
}

.flag {
    background-image:url("OIP.jpg");
    background-size: 40px 40px;
}

.flag2 {
    background-image:url("flag2.jpg");
    background-size: 40px 40px;
}