body {
    background-color:purple;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid whitesmoke;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:lightblue;
}

.kevin {
    background-image:url("kevin.jpg");
    background-size: 40px 40px;
}

.wall {
    background-color: red !important;
}

.wallFake {
    background-color: darkred !important;
}

.flag {
    background-image:url("uecl.jpg");
    background-size: 40px 40px;
}

.Empty {
    background-image:none;
}
