body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.Car {
    background-image:url("saint maximin.jpg");
    background-size: 40px 40px;
}

.Empty {
    background-image:none;
}

.wall1 {
    background-image:url("alonso.jpg");
    background-size: 40px 40px;
}

.wall2 {
    background-image:url("andreas.jpg");
    background-size: 40px 40px;
}

.wall3 {
    background-image:url("chillers.jpg");
    background-size: 40px 40px;
}

.wall4 {
    background-image:url("havertz.jpg");
    background-size: 40px 40px;
}

.wall5 {
    background-image:url("kante.jpg");
    background-size: 40px 40px;
}

.wall6 {
    background-image:url("kurt.jpg");
    background-size: 40px 40px;
}

.wall7 {
    background-image:url("reece james.jpg");
    background-size: 40px 40px;
}

.wall8 {
    background-image:url("rudiger.jpg");
    background-size: 40px 40px;
}
.wall9 {
    background-image:url("silva.jpg");
    background-size: 40px 40px;
}
.wall10  {
    background-image:url("kovacic.jpg");
    background-size: 40px 40px;
}

.wall11  {
    background-image:url("mount.jpeg");
    background-size: 40px 40px;
}

.wallFake1 {
    background-image:url("odoi.jpg");
    background-size: 40px 40px;
}

.wallFake2 {
    background-image:url("emerson.jpg");
    background-size: 40px 40px;
}

.wallFake3 {
    background-image:url("werner.jpg");
    background-size: 40px 40px;
}

.wallFake4 {
    background-image:url("ziyech.jpg");
    background-size: 40px 40px;
}

.wallFake5 {
    background-image:url("giroud.jpg");
    background-size: 40px 40px;
}


.flag {
    background-image:url("saints.gif");
    background-size: 40px 40px;
}

