body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.player1 {
    background-image:url("bird.jpg");
    background-size: 40px 40px;
}

.wall {
    background-color: aquamarine !important;
}

.flag {
    background-image:url("bird food flag.jpg");
    background-size: 40px 40px;
}