body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.car {
    background-image:url("GOOSE.jpg");
    background-size: 40px 40px;
}

.GOOSE2 {
    background-image:url("GOOSE2.png");
    background-size: 40px 40px;
}


.car2 {
    background-image:url("hunter.jpg");
    background-size: 40px 40px;
}

.powerup {
    background-image:url("pentegram.jpg");
    background-size: 40px 40px;
}

.wall{
    width:40px;
    height:40px;
    border:1px solid;
    background-color:rgb(0, 0, 0) !important;

}
