body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.car {
    background-image:url("FedererGIF.gif");
    background-size: 40px 40px;
}

.wall {
    background-image:url("NadalRacingGame.jpg");
    background-size: 40px 40px;
}

.flag {
    background-image:url("Wimbledon.jpg");
    background-size: 40px 40px;
}

.djokovic {
    background-image:url("Tennis.jpg");
    background-size: 40px 40px;
}

.alcaraz {
    background-image:url("Alcaraz.jpg");
    background-size: 40px 40px;
    
}

.trophy {
    background-image:url("Trophy.jpg");
    background-size: 40px 40px;
}

.Trophy {
    background-image:url("French.jpg");
    background-size: 40px 40px;
}

.TROPHY {
    background-image:url("USA.jpg");
    background-size: 40px 40px;
}

.Australia {
        background-image:url("Australia-Flag-3.jpg");
        background-size: 40px 40px;
    }
.WALL {
    background-image:url("Babolat.jpg");
    background-size: 40px 40px;
    }

.FakeWall {
    background-color: black!important;
}