body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.Car {
    background-image:url("TOYOTAAAAA.gif");
    background-size: 40px 40px;
}

.flag {
    background-image:url("flag amirite.gif");
    background-size: 40px 40px;
}


.trees {
    background-image:url("trees.gif");
    background-size: 40px 40px;
}

