body {
    background-color:grey;
}

#RacingTrack {
    border-collapse:collapse;
    border:5px solid black;
}

#RacingTrack td {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:white;
}

.player11 {
    background-image:url("redcar1.jpg");
    background-size: 40px 40px;
}
.player12 {
    background-image:url("redcar2.png");
    background-size: 40px 40px;
}
.player13 {
    background-image:url("redcar3.jpg");
    background-size: 40px 40px;
}
.player14 {
    background-image:url("redcar4.jpg");
    background-size: 40px 40px;
}
.player21 {
    background-image:url("bluecar1.jpg");
    background-size: 40px 40px;
}
.player22 {
    background-image:url("bluecar2.jpg");
    background-size: 40px 40px;
}
.player23 {
    background-image:url("bluecar3.jpg");
    background-size: 40px 40px;
}
.player24 {
    background-image:url("bluecar4.jpg");
    background-size: 40px 40px;
}
.limit {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:rgb(255, 0, 0)!important;
}
.limits {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:rgb(255, 0, 0)!important;
}
.boost{
    width:40px;
    height:40px;
    border:1px solid;
    background-color:rgb(0, 255, 0)!important;
}
td {
    width: 20px;
    height: 20px;
    text-align: center;
}
.curb {
    width:40px;
    height:40px;
    border:1px solid;
    background-color:rgb(49, 52, 49)!important;
}
.finish_line {
    background-image:url("checkered_flag.jpg");
    background-size: 43px 45px;
}